<ion-tabs>
	<ion-tab-bar slot="bottom">

		<ion-tab-button tab="home">
			<ion-ripple-effect type="unbounded"></ion-ripple-effect>
			<ion-icon name="home"></ion-icon>
			<ion-label>Home</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="statistics">
			<ion-ripple-effect type="unbounded"></ion-ripple-effect>
			<ion-icon name="stats-chart"></ion-icon>
			<ion-label>Statistics</ion-label>
		</ion-tab-button>


		<ion-tab-button tab="add-transaction">
			<ion-ripple-effect type="unbounded"></ion-ripple-effect>
			<ion-icon name="add"></ion-icon>
			<ion-label>Add</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="savings">
			<ion-ripple-effect type="unbounded"></ion-ripple-effect>
			<ion-icon name="wallet"></ion-icon>
			<ion-label>Savings</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="profile">
			<ion-ripple-effect type="unbounded"></ion-ripple-effect>
			<ion-icon name="person-circle"></ion-icon>
			<ion-label>User Profile</ion-label>
		</ion-tab-button>

	</ion-tab-bar>
</ion-tabs>