<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing-page/savings"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Savings</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-button class="btn" type="submit" (click)="addmonth()" color="primary" expand="block" >Savings By Month</ion-button>
  <ion-button class="btn" type="submit" (click)="addgoal()" color="primary" expand="block" >Savings By Goal</ion-button>
  
</ion-content>
